body{
    /* background:lightblue; */
    background:#1e1d1d;
}
.typingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
.displayContainer{
    /* background-color: white; */
    background-color: black;
    color: white;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.displayContainer .word{
    font-size: 24px;
    padding: 2px 7px;
    margin: 5px;
}

.activeWord{
    /* background: #e8e8e8; */
    background: #867979;
}
.typingContainer{
    min-width: 800px;
    display: flex;
    align-items: center;
}
.typeCanvas{
    margin: 20px;
    width: 80%;
}

.typeField{
    width: 95%;
    padding: 10px;
    font-size: 24px;
}

.timer,.actions{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    background-color: #009688;
    color: white;
    cursor: pointer;
    margin-right:10px;
}