body{
    /* background:lightblue; */
    background:#1A1820;
    
}
.typingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
.displayContainer{
    background-color: #221E29;
    color: #fff;
    max-width: 800px;
    display: flex;
    border-radius: 5px;
    padding: 0px;
    flex-wrap: wrap;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.1), -5px -5px 15px rgba(0,0,0, 0.5);
}


.displayContainer .word{
    font-size: 24px;
    padding: 2px 7px;
    margin: 5px;
}

.activeWord{
    background: #e8e8e8;
    background: #4c5451;
}
.typingContainer{
    min-width: 800px;
    display: flex;
    align-items: center;
}
.typeCanvas{
    margin: 20px;
    width: 80%;
}

.typeField{
    width: 95%;
    padding: 10px;
    font-size: 24px;
}

.timer,.actions{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    background-color: #5BB1F9;
    color: white;
    cursor: pointer;
    margin-right:10px;
}